.library_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  justify-content: center;
}

.library_item {
  background: var(--color-bg-variant);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.library_item:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}

.library_img {
  overflow: hidden;
}

.library_img img {
  border-radius: 2rem;
  width: 100%;
}

.library_item h3 {
  margin: 1.2rem 0 2rem;
}

.library_item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* Medium Device */
@media screen and (max-width: 1024px) {
  .library_container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
  .library_img img {
    width: none;
  }
}

/* Small Device */
@media screen and (max-width: 600px) {
  .library_container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
